@charset "UTF-8";
/* CSS Document */
body {
  margin: 0px;
  padding: 0px;
  background-color: #333;
  color: #333;
  font-family: Geneva, Arial, Helvetica, sans-serif;
}
p {
  font-size: .9em;
  margin: 0 40px;
  margin-bottom: 20px;
  line-height: 1.5em;
}
h1 {
  font-size: 1.8em;
  margin: 0 40px;
  padding: 0;
}
h2 {
  font-size: 1.4em;
  margin: 0 40px;
  padding: 20px 0;
  font-weight: bold;
}
h3 {
  font-size: 1.2em;
  margin: 0 40px;
  padding: 20px 0;
  font-weight: bold;
}
li, td {
	font-size: .9em;
}
ul li {
	margin-left: 40px;
	padding: 6px;
}
ol li {
	margin-left: 40px;
}
table {
	margin: 0 40px;
	border: solid #999933 1px;
	border-collapse:collapse;
}
td {
	padding: 6px;
	border: solid #999933 1px;
	margin: 0;
}
th {
	font-weight: bold;
	background-color: #999938;
	text-align: center;
	padding: 6px;
	border: solid #999933 1px;
	margin: 0;
}
a:link {
	font-weight: bold;
	color: #9B9744;
}
a:visited {
	font-weight: bold;
	color: #9B9744;
}
a:hover {
	color: #000000;
	text-decoration: none;
}

iframe{
	margin: 0 40px;
}
/* DIV STYLES FOR PAGE LAYOUT */

#container {
  width: 800px;
  margin: 0 auto;
  border: 0px solid #000;
  background-color: #fff;
  overflow: hidden;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#rgba(123, 92, 204, 0.75);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4c4c4c;
}
li {
  float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #fff;
}
.active {
    background-color: #bb4f4f;
}


/* Header Styles */
#header{
  width: 100%;
  background-color: #EEE;
  padding: 0;
}
#header h3{
  margin: 0;
  padding: 0;
}

/* Main content styles */
#content{
  width: 580px;
  background-color: #fff;
  padding: 0px;
  float: left;
  margin-top: 20px;
}
/* Sidebar styles */
#sidebar{
  width: 150px;
  background-color: #eee;
  padding: 10px;
  float: left;
  margin-right: 30px;
  margin-top: 20px;
  border: solid #999933 1px;
  border-radius: 12px;
  overflow: hidden;
}
#sidebar h1 {
  font-size: 1.1em;
  margin: 0;
  padding: 0;
}
#sidebar p {
  font-size: .7em;
  margin: 0;
  padding: 0;
  letter-spacing: 0;
}
#sidebar img {
  width: 150px;
}
/* Footer styles */
#footer{
  width: 100%;
  background-color: #fff;
  text-align: center;
  padding: 20px 0;
  clear: both;
  border-top: solid #999933 1px;
}
#footer p {
  font-size: .7em;
  margin: 0 40px;
}
